body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: #00FF00;
    padding: 20px;
    color: #fff;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.scanner {
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #09cf20;
    margin-bottom: 10px;
}

#result {
    font-weight: bold;
    color: red;
}

#antivirus-button {
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px; /* Button padding */
  border: none; /* Remove default button border */
  cursor: pointer; /* Indicate clickable cursor */
  margin-top: 20px; /* Add margin above the button */
}

.video-container {
  /* Style the video container to position it within the button */
  position: relative; /* Enable relative positioning */
  top: 50%; /* Position vertically from the top */
  transform: translateY(-50%); /* Adjust vertical position with transform */
  left: 0; /* Position horizontally at the left */
  width: 200px; /* Adjust video width as needed */
  height: 100px; /* Adjust video height as needed */
}

